@font-face {
  font-family: gothamrounded;
  src: url(../fonts/Gotham-Rounded-Book.ttf);
}
.page-header {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  padding: 18px 0 16px;
  margin-bottom: 20px;
}
.page-header__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 280px;
}
.page-header__wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.page-header__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  float: left;
  width: 75px;
  font-family: gothamrounded, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.page-header__menu-icon {
  background: url("../img/burger.svg") no-repeat 0 4px;
  background-size: auto;
  float: right;
  width: 50px;
  height: 29px;
}
.page-header__menu-icon:hover {
  background: url("../img/burger--hover.svg") no-repeat 0 4px;
  background-size: auto;
}
.page-header__menu-icon:active {
  background: url("../img/burger--act.svg") no-repeat 0 4px;
  background-size: auto;
}
html {
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
body {
  background: url("../img/backgr.jpg") no-repeat 0 0;
  background-size: auto;
  padding: 0;
  margin: 0;
}
.mobile-menu {
  display: none;
  position: absolute;
  background: #283645;
  top: 0;
  left: 0;
  width: 320px;
}
.mobile-menu .wrapper {
  padding: 16px 0 14px;
  margin: 0 auto;
  width: 280px;
}
.mobile-menu .wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.mobile-menu__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  float: left;
  width: 75px;
  font-family: gothamrounded, sans-serif;
  text-transform: uppercase;
}
.mobile-menu__icon-close {
  float: right;
  width: 24px;
  height: 31px;
  background: url("../img/burger.svg") no-repeat 0 7px;
  background-size: auto;
}
.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-menu__item a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 0 15px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  display: block;
  background: #283645;
  box-shadow: inset 0 -1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}
.mobile-menu__item:nth-of-type(1) a {
  border-top: 1px solid #000;
}
.intro {
  text-align: center;
  background: url("../img/iphone-hand-1.png") no-repeat 0 86px;
  background-size: auto;
  background-size: 258px 286px;
}
.intro__slogan {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  width: 222px;
  padding: 0;
  margin: 0 auto 320px;
}
.app-download {
  background-color: #1d2631;
  text-align: center;
  padding: 28px 0 32px;
}
.app-download__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 280px;
}
.app-download__links {
  padding: 0;
  margin: 0 auto 22px;
  font-size: 0;
  width: 206px;
}
.app-download__link {
  display: inline-block;
  width: 48px;
  height: 58px;
  margin-right: 31px;
}
.app-download__link:nth-of-type(3n) {
  margin-right: 0;
}
.app-download__link--apple {
  background: url("../img/apple-logo.svg") no-repeat 50% 85%;
}
.app-download__link--android {
  background: url("../img/android-logo.svg") no-repeat 50% 85%;
}
.app-download__link--windows {
  background: url("../img/microsoft-logo.svg") no-repeat 50% 85%;
}
.app-download__text {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.view-btn {
  text-decoration: none;
  text-transform: none;
  padding: 16px 0 15px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  width: 274px;
  border: 3px solid #fff;
  border-radius: 27px;
  margin-bottom: 30px;
}
.view-btn:hover,
.view-btn:active {
  color: #d22856;
  background-color: #fff;
}
.view-btn:active {
  color: rgba(210, 40, 86, 0.3);
}
.app-info {
  text-align: center;
  padding: 16px 0 0;
  box-shadow: inset 1px 0 0 0 #000000, inset -1px 0 0 0 #000000;
  background-image: linear-gradient(-6deg, rgba(242, 242, 242, 0.9) 30%, rgba(242, 242, 242, 0.9) 77%, #ffffff 77%);
}
.app-info__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 280px;
}
.app-info__slogan {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}
.app-info__slogan:nth-of-type(2) {
  margin-bottom: 110px;
}
.features {
  padding: 0 0 294px;
  margin: 0;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  background: url("../img/screen-1-3.png") no-repeat 50% 100%;
}
.features__item {
  margin-bottom: 35px;
}
.features__item p {
  padding: 0;
  margin: 0;
}
.features__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.review {
  text-align: center;
  padding: 45px 0 170px;
  box-shadow: inset 1px 0 0 0 #000000, inset -1px 0 0 0 #000000;
  background-image: linear-gradient(-5deg, rgba(242, 242, 242, 0.9) 10%, rgba(242, 242, 242, 0.9) 20%, #ffffff 20%);
}
.review__name-reviewer {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
}
.review__comment-reviewer {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  margin: 0 20px;
}
.contacts {
  position: relative;
  text-align: center;
  padding: 20px 0 0;
  box-shadow: inset 1px 0 0 0 #000000, inset -1px 0 0 0 #000000;
  background: url("../img/map.jpg") no-repeat 0 100%;
  background-size: contain;
}
.contacts__wrapper {
  padding: 0;
  margin: 0 auto;
  width: 280px;
}
.contacts__slogan {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 34px;
}
.contacts__info {
  padding: 0 0 200px;
  margin: 0;
  list-style: none;
}
.contacts__item {
  margin-bottom: 30px;
}
.contacts__title {
  color: #283645;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px;
}
.contacts__phone,
.contacts__email,
.contacts__address {
  padding: 0;
  margin: 0;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}
.contacts::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 160px solid transparent;
  /* Прозрачные границы */
  border-top: 28px solid #fff;
  left: 0;
  bottom: 14px;
  z-index: 10;
}
/*# sourceMappingURL=style.css.map */